<section class="currency-rates">
  <div class="container">
    <div class="wrapper">
      <header class="header">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#" class="nav__link" id="rates-trigger"><h2>Latest Currencies Rates</h2></a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link" id="calculator-trigger"><h2>Exchange Calculator</h2></a>
            </li>
          </ul>
        </nav>
      </header>
      <div id="rates">
        <form class="latest-rates">
          <select name="select" id="base-rate">
            <option value="" class="currency__option" selected disabled>Select base rate</option>
          </select>
        </form>
        <div class="currency">
          <ul class="currency__list"></ul>
        </div>
      </div>
      <div class="calculator-wrapper">
        <form class="calculator__form" id="calculator">
          <div class="input-wrapper">
            <label for="amount"></label>
            <input id="amount" type="text" />
            <label for="from-currency"></label>
            <select name="from-currency-select" id="from-currency"></select>
            <span class="text">in</span>
            <select name="into-currency-select" id="into-currency"></select>
          </div>
          <div class="button-wrapper">
            <button type="submit" id="calculate">Convert</button>
          </div>
          <div class="output-wrapper">
            <span id="result">Result</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
