<section class="rates">
  <div class="container">
    <div class="wrapper">
      <header class="header">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#" class="nav__link" id="rates-trigger"><h2>Latest Currencies Rates</h2></a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link" id="calculator-trigger"><h2>Exchange Calculator</h2></a>
            </li>
          </ul>
        </nav>
      </header>
      <h3 class="latest-rates__title">Select base rate</h3>
      <form class="latest-rates">
        <select name="select" id="base-rate"></select>
      </form>
      <div class="currency">
        <ul class="currency__list"></ul>
      </div>
    </div>
  </div>
</section>
