.wrapper {
  height: 100vh;

  background: rgb(56, 59, 73);
  background: radial-gradient(
    circle,
    rgba(56, 59, 73, 1) 0%,
    rgba(19, 16, 16, 0.896796218487395) 60%,
    rgba(0, 0, 0, 1) 100%
  );

  border: 1px solid #000000;
  border-radius: 1rem;
}
.latest-rates {
  height: 3rem;
}
.latest-rates__title {
  text-align: center;
  margin-bottom: 2rem;
}
#base-rate {
  display: block;

  border: 2px solid #ffffff;
  border-radius: 3rem;

  width: 30%;
  height: 100%;

  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;

  color: #ffffff;

  background: transparent;
  &:hover {
    cursor: pointer;
  }
}
.currency__option {
  border: 1px solid #000000;
  border-radius: 2rem;
  background-color: #000000;
  &:hover {
    cursor: pointer;
  }
}
.currency {
  margin-top: 3rem;
}
.currency__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
